__pycache__/
.pytest_cache/
.venv/
.env
*.log
*.aux
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
.DS_Store

data/raw/*
!data/raw/.gitkeep

results/logs/*
!results/logs/.gitkeep

results/figures/*
!results/figures/.gitkeep

results/tables/*
!results/tables/.gitkeep
